Host *
  # when you're tired of typing 'yes'
  # StrictHostKeyChecking no

  # stay alive
  ServerAliveInterval 60
  ServerAliveCountMax 3
  TCPKeepAlive yes

  # share connection
  ControlMaster auto
  ControlPath ~/.ssh/cm-%r@%h:%p
  ControlPersist 0
